<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!-- Cabeçalho -->
    <div>

        <a href="./index.html">Home</a>
        <a href="./whoweare.html">Quem somos</a>
        <a href="./contact.html">Contato</a>

    </div>

    <!-- Banner -->

    <div>

    </div>

    <!-- Texto -->
        <title>Sobre a universidade</title>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ducimus error voluptatibus. Officia, vel vitae cupiditate nostrum earum, architecto fugit fugiat aperiam nobis ex voluptate similique tempore optio. Impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatum natus qui nam, accusamus sit architecto similique amet officia eligendi aliquid cum ea omnis ex ratione quis dolorem illum iusto!</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quod autem consequuntur necessitatibus cumque soluta, facere accusantium nulla incidunt similique magnam commodi reiciendis inventore veritatis vel unde tenetur veniam architecto. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias dolorem, distinctio rem eius aspernatur nulla similique deserunt voluptates ab exercitationem vel tenetur? Tenetur enim placeat perferendis necessitatibus dolorem dolores odio.</p>

    <!-- Footer -->

    <div>

        <p>Todos os direitos reservados</p>

    </div>
    
</body>
</html>