<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos</title>
</head>
<body>
    <!-- Cabeçalho -->
    <div>

    </div>

    <!-- Quem somos -->
    <div>

        <h2>Quem somos</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum vel magnam facilis incidunt esse id reprehenderit sunt dolorum ratione illum expedita, ipsum, sit explicabo minima eligendi cumque obcaecati deserunt! Repellendus!Lorem</p>

        <h2>5 motivos para estudar</h2>

        <h2>Objetivos</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde aperiam ducimus laborum ipsam veniam! Quasi illum odit quo eum impedit fuga incidunt quis, neque officia ab et eius natus libero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae provident voluptatibus cum expedita eveniet dolores quasi veritatis dolor repudiandae maxime aspernatur quia repellendus non ducimus, rem dignissimos officiis impedit! Repellat.
            </p>


    </div>

    <!-- Footer -->
    <div>

        <p>Todos os direitos reservados</p>

    </div>
    
</body>
</html>